# OSX
*.DS_Store

# Python
*.pyc

# Cython
dipsim/cythonlib/*

# PyPi
dist/*
pmst.egg-info/*

# Docs
docs/*

# Results
slides/**/figs/*
notes/**/figures/*
notes/**/calculations/*
*fls
*out
*fdb_latexmk
*zip
*log
*aux
*dvi
*toc
*snm
*nav
*tif