# OSX
*.DS_Store

# Python
__init__*
*.pyc

# Cython
dipsim/cythonlib/*

# PyPi
dist/*
pmst.egg-info/*

# Docs
docs/*

# Results
paper/figures/*png
paper/figures/*pdf
paper/figures/frames/*pdf
paper/figures/frames/*png
notes/**/figures/*.pdf
*fls
*out
*fdb_latexmk
*zip
*log
*aux
*dvi
